#video {
    width:100%;
    
}

body {
    margin: 0;
    background-color: #282828;
}

.header {
    display: flex;
    justify-content: center;
}

.heading {
    color:#d55b3d;
    font-family: "montserrat", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    margin:50px;
    height: 100px;
}

.image-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading-h2 {
    color:#d55b3d;
    font-family: "montserrat", sans-serif;
    font-size: 40px;
    margin:50px;
}

.image-section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pic {
    margin:40px;
}

.backBtn {
    text-decoration: none;
    align-self: flex-start;
    font-size: 20px;
    padding:20px;
    text-transform: uppercase;
    background-color: #fff;
    color: black;
    display: block;
    width:60px;
}





.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.item {
    background-color: #ffbdb0;
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.item-name {
    color: #d55b3d;
    font-family: "montserrat", sans-serif;
}

ul {
    background-color: #fbeee0;
    color:#7c7575;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

del {
    font-size: 20px;
    color: #52616b;
    font-family: "montserrat", sans-serif;
    padding:10px;
}

ins {
    display: inline-block;
    transform: rotate(-7deg);
    font-size: 20px;
    font-family: "montserrat", sans-serif;
    color: #52616b;
    text-decoration: none;
}

.price {
    font-size: 20px;
    color: #52616b;
    font-family: "montserrat", sans-serif;
    padding:10px;
}

#footer {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.contacts {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
    padding: 20px;
    margin: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 24px;
    padding: 20px;
    
}

.email {
    
    text-decoration: none;
    color: black;
}

.contact {
    display: flex;
    justify-content: space-between;
    color: black;background-color: #FBEEE0;
}

.anim {
    animation: pulse 1.5s infinite ease-in-out;
    
}

.scale {
    font-size: 40px;
}


    

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media all and (max-width:1200px) {
    
    .image-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .bounceAnim {
        margin-bottom: 20px;
    }

    
   
} 

@media all and (max-width:820px) {
   
    .heading-h2 {
        font-size: 30px;
        margin:30px;
    }

    .item {
    
        width: cover;
        height: cover;
        margin: 10px;
}
}

@media all and (max-width:500px) {
   
   .heading {
        font-size: 30px;
        margin:30px 30px;
        height: 50px;
   }

   .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
   }

   .bounceAnim {
        width:300px;
   }

   .heading-h2 {
        font-size: 18px;
        margin:10px;
        
    }

    .pic {
        width:250px;
    }

    .contact {
        font-size: 15px;
        margin: 0;
        width: 100%;
        
    }

    .img {
        width:100px;
        font-size: 15px;
    }

    
    .contacts {
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px 30px 10px;
    }

}