body {
    background-image: url(food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color:rgba(94, 97, 93, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.backBtn {
    text-decoration: none;
    align-self: flex-start;
    font-size: 20px;
    padding:20px;
    text-transform: uppercase;
    background-color: #fff;
    color: black;
}

#container {
    background-color:rgba(94, 97, 93, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    border-radius: 40px;
    color:white;
    
    
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0px 20px 0px 20px;
    font-size: 25px;
}

h1 {
    height: 50px;
    font-family: "Montserrat", serif;
    color:#FBF8E2;
    align-self: center;
    margin-top: 40px;
    overflow: hidden;
}

input {
    font-family: "Montserrat", serif;
    padding:5px;
    font-size: 20px; 
}

#addTip {
    background-color: #FBF8E2;
    border:none;
    border-radius: 10px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-size: 20px;
    animation: pulse 2s infinite ease-in-out;
    width:30%;
    align-self: center;
    margin-bottom: 20px;
}

 
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#btn {
    background-color: #FA8343;
    padding:10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: "Montserrat", serif;
    font-size: 20px;
}

#tip {
    font-family: "Montserrat", serif;
    display: none;
    font-size: 15px;
    border: none;
    padding:5px;
}

#showTotal {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#billSplit, #totalTip, #total {
    font-family: "Montserrat", serif;
    background-color: #85A37B;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 20%;
}

span {
    margin:5px;
}

@media all and (max-width:1200px) {

#container {
    
    width: 70%;
    height: 70%;
    padding:40px;
    margin-top: 20%;
    
}   
    
}

@media all and (max-width:820px) {

#container {
    
    width: 90%;
    height: 90%;
    padding:40px;
    margin: 0;
    
}  

}

@media all and (max-width:500px) {


    #container {
        padding:20px;
        height: 95%;
        
    }

    form {
        width:cover;
        margin:0;
        padding:10px;
        
    }

    h1 {
        margin:0;
        font-size: 30px;
    }

    #addTip {
        width:50%;
        font-size: 15px;
    }

    #showTotal {
        flex-direction: column;
        align-items: center;
    }

    #billSplit, #totalTip, #total {
        width:70%;
        height:cover;
        margin:10px;
        padding:0;
        font-size: 15px;
        flex-direction: row;
        justify-content: center;
    }

    p, #btn, #bill, #people  {
        font-size: 15px;
        padding:10px;
    }

    
}

@media all and (max-width:400px) {

    h1 {
        
        font-size: 20px;
    }

   
    span {
        margin:0;
        font-size: 12px;
        align-self: center;
    }

    #billSplit, #totalTip, #total {
        height: 50px;
        margin: 0;
        justify-content: space-around;
    }

    #addTip {
        margin-bottom: 5px 5px;
    }

}

